
    <div class="section" id="index-banner">
        <div class="row">
            <div class="col s12 12">
                <h1 class="header center-on-small-only"><%= title %></h1>
                <p>Welcome to <%= title %></p>

            </div>
        </div>
    </div><!-- End Container -->