

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Website</h1>
                    <p class="intro-text">A demonstration of how to build websites.<br>Created with Bootstrap.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="content">
    <% include home/section/main.ejs %>
    <% include home/section/modals.ejs %>
    <% include home/section/tabs.ejs %>
</div>


<% include templates/modals.ejs %>


